@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@theme {
  --animate-fade-in-out: fade-in-out 1s ease-out;
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }
  --color-light: #f0f4f9;
}

#menu-content::-webkit-scrollbar {
  display: none;
}
