@import "tailwindcss";

@theme {
  --animate-fade-in-out: fade-in-out 1s ease-out;
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }
}

#menu-content::-webkit-scrollbar {
  display: none;
}
